<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <runtime>
    <!-- SharpNEAT has been obervsed to run signifiantly faster with the server GC -->
    <!-- The SharpNEAT workload is also more akin to a server workload, so this is likely the better choice overall. -->
    <gcServer enabled="true"/>
  </runtime>
</configuration>
