<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <runtime>
      <!-- Enable server GC as an attempt to prevent the following exception: -->
      <!-- System.ExecutionEngineException occurred HResult=0x80131506 -->
      <!-- See: http://stackoverflow.com/questions/7531860/why-does-concurrent-gc-sometimes-cause-executionengineexception-per-msdn -->
      <!-- The exception is sporadic, sometime not occurring for days, sometime will happen within minutes of the efficacy sampling process starting. -->
      <gcServer enabled="true"/>
    </runtime>
</configuration>
