<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="experimentCatalog"
               type="SharpNeatLib.AppConfig.ExperimentConfigurationSectionHandler, SharpNeatLib" />
    </configSections>
    
    <experimentCatalog>
		<experiment>
			<title>Binary Three-Multiplexer</title>
			<description>BinaryThreeMultiplexer experiment</description>
			<assemblyUrl>SharpNeatExperiments.dll</assemblyUrl>
			<typeName>SharpNeatLib.Experiments.BinaryThreeMultiplexerExperiment</typeName>
		</experiment>

		<experiment>
			<title>Binary Six-Multiplexer</title>
			<description>BinarySixMultiplexer experiment</description>
			<assemblyUrl>SharpNeatExperiments.dll</assemblyUrl>
			<typeName>SharpNeatLib.Experiments.BinarySixMultiplexerExperiment</typeName>
		</experiment>

		<experiment>
			<title>Binary Eleven-Multiplexer</title>
			<description>BinaryElevenMultiplexer experiment</description>
			<assemblyUrl>SharpNeatExperiments.dll</assemblyUrl>
			<typeName>SharpNeatLib.Experiments.BinaryElevenMultiplexerExperiment</typeName>
		</experiment>

		<experiment>
			<title>Function Regression [y=fn(x)]</title>
			<description>Function regression [One input/output]</description>
			<assemblyUrl>SharpNeatExperiments.dll</assemblyUrl>
			<typeName>SharpNeatLib.Experiments.OneInputFunctionRegressionExperiment</typeName>
		</experiment>

		<experiment>
			<title>Fund Manager Mark 3</title>
			<description>Fund Manager Experiment</description>
			<assemblyUrl>FundManagerMark2.dll</assemblyUrl>
			<typeName>SharpNeatLib.Experiments.FundManagerMark3Experiment</typeName>
			<experimentParameters>
				<evalDataFileUrl>C:\work\projects\TradingDataManager_Mark2\data\PROCESSED_20050707_20060908_172days_530cos.pdsds2</evalDataFileUrl>
				<startDateIdx>0</startDateIdx>
				<endDateIdx>85</endDateIdx>
			</experimentParameters>
		</experiment>
		
		<experiment>
			<title>Max Function</title>
			<description>Max Experiment</description>
			<assemblyUrl>MaxExperiment.dll</assemblyUrl>
			<typeName>SharpNeatLib.Experiments.MaxExperiment</typeName>
			<experimentParameters>
				<inputNeuronCount>3</inputNeuronCount>
				<dataFileUrl>c:\work\projects\SharpNEAT\src\Experiments\MaxExperiment\testdata_3cols_10values.txt</dataFileUrl>
			</experimentParameters>
		</experiment>
		
		<experiment>
			<title>Multiplication</title>
			<description>Multiplication</description>
			<assemblyUrl>SharpNeatExperiments.dll</assemblyUrl>
			<typeName>SharpNeatLib.Experiments.MultiplicationExperiment</typeName>
		</experiment>

		<experiment>
			<title>Physical TSP Controller</title>
			<description>Physical Travelling Salesperson Problem</description>
			<assemblyUrl>SharpNeatExperiments.dll</assemblyUrl>
			<typeName>SharpNeatLib.Experiments.PhysicalTSPControllerExperiment</typeName>
		</experiment>

		<experiment>
			<title>Pole Balancing [Single Pole]</title>
			<description>Pole Balancing [Single Pole]</description>
			<assemblyUrl>SharpNeatExperiments.dll</assemblyUrl>
			<typeName>SharpNeatLib.Experiments.SinglePoleBalancingExperiment</typeName>
		</experiment>
        
		<experiment>
			<title>Pole Balancing [Double Pole]</title>
			<description>Pole Balancing [Double Pole]</description>
			<assemblyUrl>SharpNeatExperiments.dll</assemblyUrl>
			<typeName>SharpNeatLib.Experiments.DoublePoleBalancingExperiment</typeName>
		</experiment>
        
		<experiment>
			<title>Pole Balancing [Double Pole,NV]</title>
			<description>Pole Balancing [Double Pole, No velocity information]</description>
			<assemblyUrl>SharpNeatExperiments.dll</assemblyUrl>
			<typeName>SharpNeatLib.Experiments.NvDoublePoleBalancingExperiment</typeName>
		</experiment>
		  
		<experiment>
			<title>Pole Balancing [Double Pole, NV, Antiwiggle]</title>
			<description>Pole Balancing [Double Pole, No velocity information, Antiwiggle evaluation]</description>
			<assemblyUrl>SharpNeatExperiments.dll</assemblyUrl>
			<typeName>SharpNeatLib.Experiments.NvAntiWiggleDoublePoleBalancingExperiment</typeName>
		</experiment>
		        
		<experiment>
			<title>Prey Capture</title>
			<description>Prey Capture</description>
			<assemblyUrl>SharpNeatExperiments.dll</assemblyUrl>
			<typeName>SharpNeatLib.Experiments.PreyCaptureExperiment</typeName>
		</experiment>   		

		<experiment>
			<title>Profiler</title>
			<description>Profiler</description>
			<assemblyUrl>SharpNeatExperiments.dll</assemblyUrl>
			<typeName>SharpNeatLib.Experiments.ProfilerExperiment</typeName>
		</experiment> 

		<experiment>
			<title>Simple-OCR</title>
			<description>Simple Optical Character Recognition</description>
			<assemblyUrl>SharpNeatExperiments.dll</assemblyUrl>
			<typeName>SharpNeatLib.Experiments.SimpleOcrExperiment</typeName>
		</experiment> 

		<experiment>
			<title>Tic-Tac-Toe [Pareto dominance co-ev]</title>
			<description>Tic-Tac-Toe [Pareto dominance co-ev]</description>
			<assemblyUrl>SharpNeatExperiments.dll</assemblyUrl>
			<typeName>SharpNeatLib.Experiments.ParetoDominanceCoEvTicTacToeExperiment</typeName>
		</experiment>
		
		<experiment>
			<title>Vector Cross Product</title>
			<description>Vector Cross Product</description>
			<assemblyUrl>SharpNeatExperiments.dll</assemblyUrl>
			<typeName>SharpNeatLib.Experiments.VectorCrossProductExperiment</typeName>
		</experiment>
		
		<experiment>
			<title>Waveform Generator</title>
			<description>Waveform Generator</description>
			<assemblyUrl>SharpNeatExperiments.dll</assemblyUrl>
			<typeName>SharpNeatLib.Experiments.WaveGeneratorExperiment</typeName>
		</experiment>

        <experiment>
            <title>XOR</title>
            <description>XOR Logic gate</description>
            <assemblyUrl>SharpNeatExperiments.dll</assemblyUrl>
            <typeName>SharpNeatLib.Experiments.XorExperiment</typeName>
        </experiment>
        
	</experimentCatalog>
</configuration>
